Examen/Ejercicio 9/WindowsFormsApp1/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="dsPersona">
        <s:complexType />
      </s:element>
      <s:element name="dsPersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dsPersonaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="agregarPersona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ap" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="am" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="agregarPersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="agregarPersonaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarDatosPersona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nnom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nap" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarDatosPersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarDatosPersonaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarPersona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarPersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eliminarPersonaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerPersona">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ci" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerPersonaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerPersonaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="dsPersonaSoapIn">
    <wsdl:part name="parameters" element="tns:dsPersona" />
  </wsdl:message>
  <wsdl:message name="dsPersonaSoapOut">
    <wsdl:part name="parameters" element="tns:dsPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="agregarPersonaSoapIn">
    <wsdl:part name="parameters" element="tns:agregarPersona" />
  </wsdl:message>
  <wsdl:message name="agregarPersonaSoapOut">
    <wsdl:part name="parameters" element="tns:agregarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarDatosPersonaSoapIn">
    <wsdl:part name="parameters" element="tns:ActualizarDatosPersona" />
  </wsdl:message>
  <wsdl:message name="ActualizarDatosPersonaSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarDatosPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarPersonaSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarPersona" />
  </wsdl:message>
  <wsdl:message name="eliminarPersonaSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarPersonaResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerPersonaSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerPersona" />
  </wsdl:message>
  <wsdl:message name="obtenerPersonaSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerPersonaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="dsPersona">
      <wsdl:input message="tns:dsPersonaSoapIn" />
      <wsdl:output message="tns:dsPersonaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="agregarPersona">
      <wsdl:input message="tns:agregarPersonaSoapIn" />
      <wsdl:output message="tns:agregarPersonaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarDatosPersona">
      <wsdl:input message="tns:ActualizarDatosPersonaSoapIn" />
      <wsdl:output message="tns:ActualizarDatosPersonaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarPersona">
      <wsdl:input message="tns:eliminarPersonaSoapIn" />
      <wsdl:output message="tns:eliminarPersonaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerPersona">
      <wsdl:input message="tns:obtenerPersonaSoapIn" />
      <wsdl:output message="tns:obtenerPersonaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dsPersona">
      <soap:operation soapAction="http://tempuri.org/dsPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarPersona">
      <soap:operation soapAction="http://tempuri.org/agregarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarDatosPersona">
      <soap:operation soapAction="http://tempuri.org/ActualizarDatosPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarPersona">
      <soap:operation soapAction="http://tempuri.org/eliminarPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPersona">
      <soap:operation soapAction="http://tempuri.org/obtenerPersona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dsPersona">
      <soap12:operation soapAction="http://tempuri.org/dsPersona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarPersona">
      <soap12:operation soapAction="http://tempuri.org/agregarPersona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarDatosPersona">
      <soap12:operation soapAction="http://tempuri.org/ActualizarDatosPersona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarPersona">
      <soap12:operation soapAction="http://tempuri.org/eliminarPersona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerPersona">
      <soap12:operation soapAction="http://tempuri.org/obtenerPersona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44324/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44324/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>